//
//  Project.xcconfig
//  TextStory
//
//  Created by Matt Massicotte on 2020-01-19.
//  Copyright © 2020 Chime Systems Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(PROJECT_DIR)/Carthage/Build/Mac $(PROJECT_DIR)/Carthage/Build/Mac/Static
FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(PROJECT_DIR)/Carthage/Build/iOS $(PROJECT_DIR)/Carthage/Build/iOS/Static
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(PROJECT_DIR)/Carthage/Build/iOS $(PROJECT_DIR)/Carthage/Build/iOS/Static

SWIFT_VERSION = 5.1
MACOSX_DEPLOYMENT_TARGET = 10.12
IPHONEOS_DEPLOYMENT_TARGET = 10.0
