//
//  TextStory.xcconfig
//  TextStory
//
//  Created by Matt Massicotte on 2020-01-02.
//  Copyright © 2020 Chime Systems Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "xcconfigs/UniversalFramework_Framework.xcconfig"

SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos
PRODUCT_NAME = TextStory
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.TextStory
PRODUCT_MODULE_NAME = TextStory
CURRENT_PROJECT_VERSION = 6
MARKETING_VERSION = 0.3.3

INFOPLIST_FILE = TextStory/Info.plist
MACH_O_TYPE = staticlib

